In [1]:
# datbase creation
import mysql.connector
conn = mysql.connector.connect(host="localhost", user="root", password="")
cursor = conn.cursor()
my_db = "tuyiseng_elysee_lab"
try:
    cursor.execute(f"CREATE DATABASE {my_db} ")
    print("Database created successfully!")
except:
    print(f"Failed to create database called: {my_db}")

Database created successfully!

In [88]:
 # Connect to MySQL database
my_db="tuyiseng_elysee_lab"
table = "programmes"
conn = mysql.connector.connect(host="localhost", user="root", password="", database=my_db)
cursor = conn.cursor()

In [ ]:
try:
    cursor.execute("""
    CREATE TABLE users (
        user_id INT AUTO_INCREMENT PRIMARY KEY,
        fname VARCHAR(40),
        lname VARCHAR(40),
        email VARCHAR(100) UNIQUE,
        phone VARCHAR(20),
        password VARCHAR(255),
        role_id INT,
        status ENUM('Active','Inactive') NOT NULL,
        FOREIGN KEY (role_id) REFERENCES User_roles(role_id)
    )
    """)
    print("users Table created successfully!")
except:
    print("Failed to create the users table.")

users Table created successfully!

In [33]:
import bcrypt  # Import bcrypt for password hashing
try:
    # User details
    fname = "John"
    lname = "Doe"
    email = "johndoe@example.com"
    phone = "0781234567"
    role_id = 1
    status = "Active"
    plain_password = "mypassword123"  # User's raw password

    # Hash the password with bcrypt
    salt = bcrypt.gensalt()  # Generate salt
    hashed_password = bcrypt.hashpw(plain_password.encode('utf-8'), salt)  # Hash password

    # Insert data into users table
    sql = """
    INSERT INTO users (fname, lname, email, phone, password, role_id, status) 
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    
    values = (fname, lname, email, phone, hashed_password, role_id, status)

    cursor.execute(sql, values)
    conn.commit()

    print(cursor.rowcount, "New user record inserted successfully with a hashed password!")

except mysql.connector.Error as err:
    print(f"Failed to insert data into users table: {err}")

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

1 New user record inserted successfully with a hashed password!

In [45]:
try:
    # Execute the SELECT query to fetch all data from the users table
    cursor.execute("SELECT * FROM users")
    
    # Fetch all records
    users = cursor.fetchall()
    
    # Check if records were returned
    if users:
        for user in users:
            print(user)  # Print each user record (tuple format)
    else:
        print("No records found in the users table.")
    
except mysql.connector.Error as err:
    print(f"Failed to fetch data from the users table: {err}")

(1, 'John', 'Doe', 'johndoe@example.com', '0781234567', '$2b$12$IsqjDYY5/.EISYo.Ox/ViuXr0fLys9WcGFLBDCEJ4QhPiDRdMYp2.', 1, 'Active')

In [89]:
try:
    # SQL query to update the status of a user to 'Inactive'
    sql = """
    UPDATE users 
    SET status = 'Inactive' 
    WHERE user_id = %s
    """
    # User ID to deactivate (this would typically be provided dynamically)
    user_id = 1  # Example user_id for deactivation

    # Execute the update query with the user_id
    cursor.execute(sql, (user_id,))
    conn.commit()  # Commit the transaction to apply changes

    # Check how many records were updated
    if cursor.rowcount > 0:
        print(f"User with ID {user_id} has been deactivated successfully!")
    else:
        print(f"No user found with ID {user_id} or the status was already 'Inactive'.")

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to update the user status: {err}")

finally:
    # Ensure the cursor and connection are closed after the operation
    if cursor:
        cursor.close()
    if conn:
        conn.close()

No user found with ID 1 or the status was already 'Inactive'.

In [9]:
try:
    cursor.execute("""
    CREATE TABLE User_roles (
        role_id INT AUTO_INCREMENT PRIMARY KEY,
        role_name ENUM('admin', 'student', 'technician') NOT NULL
    )
    """)
    print(" User_roles Table created successfully!")
except:
    print("Failed to create the User_roles table.")

 User_roles Table created successfully!

In [27]:
try:
    # SQL query to insert data
    sql = "INSERT INTO User_roles (role_name) VALUES (%s)"
    values = [
        ('admin',),
        ('student',),
        ('technician',)
    ]
    cursor.executemany(sql, values)  # Insert multiple records at once
    conn.commit()

    print(cursor.rowcount, "records inserted successfully into User_roles table!")

except mysql.connector.Error as err:
    print(f"Failed to insert data into User_roles table: {err}")

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

3 records inserted successfully into User_roles table!

In [46]:
try:
    # Execute the SELECT query to fetch all data from the user_roles table
    cursor.execute("SELECT * FROM user_roles")
    
    # Fetch all records returned by the query
    roles = cursor.fetchall()

    # Check if any records were returned
    if roles:
        # Iterate over the records and print each role
        for role in roles:
            print(role)  # Each role is returned as a tuple
    else:
        print("No records found in the user_roles table.")  # If no records exist

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to fetch data from the user_roles table: {err}")

(1, 'admin')
(2, 'student')
(3, 'technician')

In [80]:
try:
    # SQL query to update a user's role in the User_roles table (example update operation)
    sql = """
    UPDATE User_roles 
    SET role_name = %s 
    WHERE role_id = %s
    """
    # Values to be updated: role_name and the role_id of the user to be updated
    values = ('administrator', 1)  # Updating role_name for role_id 1 (e.g., changing 'admin' to 'administrator')

    # Execute the update query with the provided values
    cursor.execute(sql, values)
    conn.commit()  # Commit the transaction to apply changes

    print(cursor.rowcount, "record(s) updated successfully in User_roles table!")

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to update data in User_roles table: {err}")

finally:
    # Ensure the cursor and connection are closed after the operation
    if cursor:
        cursor.close()
    if conn:
        conn.close()

0 record(s) updated successfully in User_roles table!

In [83]:
try:
    # Execute the SELECT query to fetch all data from the user_roles table
    cursor.execute("SELECT * FROM user_roles ORDER BY role_id DESC")  # Order by role_id in descending order
    
    # Fetch all records returned by the query
    roles = cursor.fetchall()

    # Check if any records were returned
    if roles:
        # Iterate over the records and print each role
        for role in roles:
            print(role)  # Each role is returned as a tuple
    else:
        print("No records found in the user_roles table.")  # If no records exist

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to fetch data from the user_roles table: {err}")

(3, 'technician')
(2, 'student')
(1, '')

In [13]:
try:
    cursor.execute("""
    CREATE TABLE computers (
        computer_id INT AUTO_INCREMENT PRIMARY KEY,
        computer_name VARCHAR(100),         
        status ENUM('Available', 'Reserved', 'Under Maintenance') NOT NULL
    )
    """)
    print(" computers Table created successfully!")
except:
    print("Failed to create the computers table.")

 computers Table created successfully!

In [68]:
try:
    # Insert data INTO computers table
    sql = "INSERT INTO computers (computer_name, status) VALUES (%s, %s)"
    values = [
        ("Computer A", "Available"),
        ("Computer B", "Reserved"),
        ("Computer C", "Under Maintenance")
    ]

    cursor.executemany(sql, values)
    conn.commit()

    print(cursor.rowcount, "records inserted successfully into computers table!")

except mysql.connector.Error as err:
    print(f"Failed to insert data into computers table: {err}")

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

3 records inserted successfully into computers table!

In [47]:
try:
    # Execute the SELECT query to fetch all data from the computers table
    cursor.execute("SELECT * FROM computers")
    
    # Fetch all records returned by the query
    computers = cursor.fetchall()

    # Check if any records were returned
    if computers:
        # Iterate over the records and print each computer's details
        for computer in computers:
            print(computer)  # Each record will be a tuple (computer_id, computer_name, status)
    else:
        print("No records found in the computers table.")  # If no records exist

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to fetch data from the computers table: {err}")

(1, 'Computer A', 'Available')
(2, 'Computer B', 'Reserved')
(3, 'Computer C', 'Under Maintenance')

In [74]:
try:
    # Perform the UPDATE operation
    update_sql = """
    UPDATE computers
    SET status = %s
    WHERE computer_name = %s
    """
    # Example update: Change the status of "Computer A" to "Under Maintenance"
    update_values = ("Under Maintenance", "Computer A")
    
    # Execute the update query
    cursor.execute(update_sql, update_values)
    conn.commit()  # Commit the transaction to save changes

    print(cursor.rowcount, "record(s) updated successfully in computers table!")

    # Retrieve and display the updated table
    select_sql = "SELECT * FROM computers"
    cursor.execute(select_sql)
    updated_records = cursor.fetchall()  # Fetch all records from the table

    # Print the updated records
    if updated_records:
        for record in updated_records:
            print(record)  # Each record will be a tuple (computer_id, computer_name, status)
    else:
        print("No records found in the computers table.")

except mysql.connector.Error as err:
    # Catch and display any MySQL-specific errors
    print(f"Failed to update data in computers table: {err}")

finally:
    # Ensure the cursor and connection are closed after the operation
    if cursor:
        cursor.close()
    if conn:
        conn.close()

2 record(s) updated successfully in computers table!
(1, 'Computer A', 'Under Maintenance')
(2, 'Computer B', 'Reserved')
(3, 'Computer C', 'Under Maintenance')
(4, 'Computer A', 'Under Maintenance')
(5, 'Computer B', 'Reserved')
(6, 'Computer C', 'Under Maintenance')

In [84]:
try:
    # Execute the SELECT query to fetch all data from the computers table, ordered by computer_id in descending order
    cursor.execute("SELECT * FROM computers ORDER BY computer_id DESC")  # Sort by computer_id in descending order
    
    # Fetch all records returned by the query
    computers = cursor.fetchall()

    # Check if any records were returned
    if computers:
        # Iterate over the records and print each computer's details
        for computer in computers:
            print(computer)  # Each record will be a tuple (computer_id, computer_name, status)
    else:
        print("No records found in the computers table.")  # If no records exist

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to fetch data from the computers table: {err}")

(6, 'Computer C', 'Under Maintenance')
(5, 'Computer B', 'Reserved')
(4, 'Computer A', 'Under Maintenance')
(3, 'Computer C', 'Under Maintenance')
(2, 'Computer B', 'Reserved')
(1, 'Computer A', 'Under Maintenance')

In [85]:
try:
    # Execute the SELECT query to join the computers and reservations tables
    cursor.execute("""
    SELECT 
        computers.computer_id, 
        computers.computer_name, 
        computers.status AS computer_status,
        reservations.reservation_id, 
        reservations.reservation_status AS reservation_status
    FROM 
        computers
    JOIN 
        reservations
    ON 
        computers.computer_id = reservations.computer_id
    """)
    
    # Fetch all records returned by the query
    results = cursor.fetchall()

    # Check if any records were returned
    if results:
        # Iterate over the records and print the details of each joined result
        for result in results:
            print(result)  # Each result will be a tuple with combined data from both tables
    else:
        print("No records found from the JOIN operation.")

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to fetch data using JOIN operation: {err}")

(2, 'Computer B', 'Reserved', 1, 'Active')

In [25]:
try:
    cursor.execute("""
    CREATE TABLE reservations (
        reservation_id INT AUTO_INCREMENT PRIMARY KEY,
        user_id INT,
        computer_id INT,
        reservation_date DATETIME DEFAULT CURRENT_TIMESTAMP,      
        reservation_status ENUM('Active', 'Completed', 'Cancelled') NOT NULL,
        FOREIGN KEY (user_id) REFERENCES users(user_id),
        FOREIGN KEY (computer_id) REFERENCES computers(computer_id)
    
    )
    """)
    print(" reservations Table created successfully!")
except:
    print("Failed to create the reservations table.")

 reservations Table created successfully!

In [36]:
try:
    sql = """
    INSERT INTO reservations (user_id, computer_id, reservation_status)
    VALUES (%s, %s, %s)
    """
    
    values = (1, 2, 'Active')  # Replace with actual user_id & computer_id

    cursor.execute(sql, values)
    conn.commit()
    
    print(f"{cursor.rowcount} reservation inserted successfully!")

except mysql.connector.Error as err:
    print(f"Failed to insert reservation: {err}")

1 reservation inserted successfully!

In [48]:
try:
    # Execute the SELECT query to fetch all data from the reservations table
    cursor.execute("SELECT * FROM reservations")
    
    # Fetch all records returned by the query
    reservations = cursor.fetchall()

    # Check if any records were returned
    if reservations:
        # Iterate over the records and print each reservation's details
        for reservation in reservations:
            print(reservation)  # Each record will be a tuple (reservation_id, user_id, computer_id, reservation_date, reservation_status)
    else:
        print("No records found in the reservations table.")  # If no records exist

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to fetch data from the reservations table: {err}")

(1, 1, 2, datetime.datetime(2025, 3, 17, 16, 37, 55), 'Active')

In [26]:
try:
    cursor.execute("""
    CREATE TABLE maintenance (
        maintenance_id INT AUTO_INCREMENT PRIMARY KEY,
        computer_id INT,
        maintenance_date DATETIME DEFAULT CURRENT_TIMESTAMP,      
        description VARCHAR(100),
        FOREIGN KEY (computer_id) REFERENCES computers(computer_id)
    
    )
    """)
    print("maintenance Table created successfully!")
except:
    print("Failed to create the maintenance table.")

maintenance Table created successfully!

In [44]:
try:
    # Insert data into the maintenance table
    sql = """
    INSERT INTO maintenance (computer_id, description) 
    VALUES (%s, %s)
    """
    
    values = (2, 'Regular maintenance check')  # Replace with actual values if needed

    cursor.execute(sql, values)
    conn.commit()  # Commit the transaction to save the changes
    
    print(f"{cursor.rowcount} record inserted successfully into the maintenance table!")

except mysql.connector.Error as err:
    print(f"Failed to insert data into the maintenance table: {err}")

1 record inserted successfully into the maintenance table!

In [49]:
try:
    # Execute the SELECT query to fetch all data from the maintenance table
    cursor.execute("SELECT * FROM maintenance")
    
    # Fetch all records returned by the query
    maintenance_records = cursor.fetchall()

    # Check if any records were returned
    if maintenance_records:
        # Iterate over the records and print each maintenance record's details
        for record in maintenance_records:
            print(record)  # Each record will be a tuple (maintenance_id, computer_id, maintenance_date, description)
    else:
        print("No records found in the maintenance table.")  # If no records exist

except mysql.connector.Error as err:
    # Catch any MySQL-specific errors and print the error message
    print(f"Failed to fetch data from the maintenance table: {err}")

(1, 1, datetime.datetime(2025, 3, 17, 16, 40, 44), 'Regular maintenance check')
(2, 1, datetime.datetime(2025, 3, 17, 16, 42, 26), 'Regular maintenance check')
(3, 3, datetime.datetime(2025, 3, 17, 16, 46, 17), 'Regular maintenance check')
(6, 1, datetime.datetime(2025, 3, 17, 16, 48, 33), 'Regular maintenance check')
(7, 2, datetime.datetime(2025, 3, 17, 16, 48, 40), 'Regular maintenance check')